.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard table {
  width: 32%;
}

.todo th {
  background-color: grey;
}

.in-progress th {
  background-color: aquamarine;
}

.done th {
  background-color: green;
}
